<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/eb28c353-cd7e-4cc9-adb0-95c6ed617296/resourceGroups/Homework4/providers/Microsoft.Web/sites/fa23NorboevAsilbekHw4</ResourceId>
    <ResourceGroup>Homework4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fa23norboevasilbekhw4.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fa23norboevasilbekhw4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$fa23NorboevAsilbekHw4</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>